.hhhh{
  
    height: 100%;
    font-size: 3rem;
    width: 90%;
    
    
}
.hhhh h2{
    font-size: 60px;
    color: #6f42c1;
}  
.nnnn p{
    font-size: 1.3rem;
}
.w50{
    width: 95%;
}
.endn{
    background-color: #0a183d;
}
.asdasd{
    color: purple;
}
.endsola h4  {
    color: white;
    font-size: 4rem;
}
.endsola p {
    color: white;
    font-size: .8rem;
}
.endsol h5{
    color: white;
    font-size: 1.5rem;   
}
.endsol p{
    color: gray;
}
.iconsas{
    border-radius: 50%;
     font-size: 3rm;
     color: honeydew;
}
.iconsas i{
    margin: 20px;
}