/* <<<<<<< HEAD */

.nav-item
{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
}

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar-dark .navbar-nav .nav-link
{
    color:white !important;
    
}

.navbar-dark .navbar-nav .nav-link:hover
{
    color: red !important;
}

.nav-link-create
{
    color: pink !important;
}
.carousel-inner
{
    background-color:darkblue;
    height: 100vh;
}
 

  .omar
  {
      
      position: absolute;
      top: 43%;
      right: 0;
      width: 50%;
      color: white;

  }


  .for
  {
      font-size: 2rem;
      font-weight: 900;
      color:chartreuse;
  }


.click1
{
    background-color:red;
    
    border-radius: 95%;
    color: white;
}

.btn2
{
    margin-left: 40px;
    border-radius: 95%;
    color: white;
    background-color: black;
    
}
.user
{
    position: absolute;
    top: 43%;
    right: 0;
    
    width: 50%;
    height: 200px;
    color: white;
}


.carousel-indicators li
{
    width: 12px;
    height: 12px;
    border-radius:50%;
    background-color: red;
 }

.part1 h2
{
    font-size: 60px;
}
.part2 p
{
    margin-bottom: 35px;
    padding-top: 10px;
    font-size: 15px;
    color: #6a7080;
    line-height: 1.8;
    font-weight: 500;
}

.sec2
{
    
    background-image: url(../image/how-to-bg.png);
    background-size: cover;
}
.text-white h2
{
    font-size: 60px;
}
.row-content p , h4
{

   
    font-size: 20px;
}

.icons
{
    margin: 15px;
    font-size: 30px;
    color: #fc0254;

}
/* >>>>>>> origin/fatma-ahmed */

.forth-sec  h2  
{
    color: #0a183d;
   
    font-size: 4rem;
     
    
}

.forth-sec h5 ,p 
{
    color: #0a183d;
    font-weight: 600;
    text-align: center;
    
}
.forth-sec .items img
{
    border-radius: 40px;
    box-shadow: -5px 5px 24px -9px rgba(0, 0, 0, 1);
}
.forth-sec section
{
    height: 100vh;
}
.forth-sec span{
    font-weight: bolder;
    
}
/* >>>>>>> origin/hossam/ashraf */
